#left {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 250px;
  border-right: 1px
  padding: 40px 0 0 0;
}

#left h1 {
  margin: 0 0 30px 30px;
  font-size: 24px;
  width: 165px;
  height: 20px;
}

#left ul.nav-pills li a:link, #left ul.nav-pills li a:visited {
  padding: 20px 30px;
  border-radius: 0;
  font-weight: bold;
  font-size: 18px;
}

#left ul.nav-list li.nav-header {
  padding: 5px 30px;
}

#left ul.nav-list li a:link, #left ul.nav-list li a:visited {
  padding: 5px 30px;
}

#left ul.nav-list li img {
  position: relative;
  top: -2px;
  margin-right: 1px;
}

#right {
  margin-left: 251px;
  padding: 20px 0 0 0;
}